/* Set background color for the whole document */
body {
  background: #00b3e6;
}

/* Style div elements */
div {
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue", sans-serif;
  background: white;
  padding: 30px;
}

/* Style the #main-header */
#main-header {
  font-size: 22px;
}

/* Style elements with .perspective-questions class */
.perspective-questions {
  font-style: italic;
}
